<!DOCTYPE html>
<html>

    <head>
        <%- include parts/head %>
    </head>

    <body>
        <div id="wrapper">
        <%- include parts/nav %>

            <section id="news-<%= title.replace(/ /g, '-') %>"  class="main news-article">

                <h1><%= title %></h1>

                <img src="<%= img %>" alt=""/>

                <p class="description"><%= description %></p>

                <p>Posted on: <span class="data"><%= date %></span> by <span class="author"><%= author %></span>.</p>

                <hr/>

                <div class="content">
                    <%- content %>
                </div>

            </section>

        <%- include parts/footer %>
        </div>
    </body>

</html>
