<!DOCTYPE html>
<html>

    <head>
        <%- include parts/head %>
    </head>

    <body>

        <%- include parts/nav %>

        <section id="events"  class="main">
            <h1><%= title %></h1>

            <% for(var i = 0; i < events.length; i++) { %>
            <article class="event-item">
                <img src="<%= events[i].img %>" alt=""/>
                <h1><a href="/calendar/<%= events[i].title.replace(/ /g, '-') %>"><%= events[i].title %></a></h1>
                <p><%= events[i].description %></p>
            </article>
            <% } %>

        </section>

        <%- include parts/footer %>

    </body>

</html>
