<!DOCTYPE html>
<html>

    <head>
        <%- include parts/head %>
    </head>

    <body>
        <div id="wrapper">
        <%- include parts/nav %>

            <article id="<%= _id %>" class="main event">

                <h1 class="title"><%= title %></h1>
                <p class="times"><span class="event-start"><%= start %></span> - <span class="event-end"><%= end %></span></p>
                <img src="<%= img %>" alt="" />
                <p class="description"><%= description %></p>

                <hr />

                <div class="content">
                    <%- html %>
                </div>

            </article>

        <%- include parts/footer %>
        </div>
    </body>

</html>
