<!DOCTYPE html>
<html>

    <head>
        <%- include parts/head %>
    </head>

    <body>
        <div id="wrapper">
        <%- include parts/nav %>

        <section id="main-image">
            <h1>Home Box</h1>

            <% for(var i = 0; i < imgs.length; i++) { %>
                <div id="box-<%= imgs[i].id %>" class="homeImg" style="background-image:url('<%= imgs[i].url %>');">
                    <p><%= imgs[i].text %></p>
                </div>
            <% } %>

        </section>


        <section id="calendar">
            <h1>Events Calendar</h1>

            <% for(var i = 0; i < calendar.length; i++) { %>
                <section id="<%= calendar[i].id %>">
                    <h1><%= calendar[i].title %></h1>
                    <img src="<%= calendar[i].img %>">
                    <div>
                        <h1><%= calendar[i].id %></h1>
                        <p><%= calendar[i].start %> - <%= calendar[i].end %></p>
                        <p><%= calendar[i].description %></p>
                    </div>
                </section>
            <% } %>

        </section>

        <%- include parts/footer %>
        </div>
    </body>

</html>
