<!DOCTYPE html>
<html>

    <head>
        <%- include parts/head %>
    </head>

    <body>
        <div id="wrapper">
        <%- include parts/nav %>

        <section id="news" class="main">

            <h1><%= title %></h1>

            <% for(var i = 0; i < news.length; i++) { %>
            <article class="news-item">
                <h1><a href="/news/<%= news[i].title.replace(/ /g, '-') %>"><%= news[i].title %></a></h1>
                <img src="<%= news[i].img %>" alt=""/>
                <p><%= news[i].description %></p>
            </article>
            <% } %>

        </section>

        <%- include parts/footer %>
        </div>

    </body>

</html>
